header {
    background-color: #075aaa;
    margin: 0;
    padding: 0px;
    width: 100%;
    align-content: space-around;
}

#contheader{
    margin: 0px auto;
    width: 90%;
    display: flex;
}
.navbar{
    width: 75%;
}

.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.navli {
    float: left;
}
.navli:active{
    background-color: #0575df;
}
  
.nava {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px 8px 10px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
.nava:hover {
    background-color: #eb2226;
}

.headerinfo{
    width:25%;
}

