header {
    background-color: #0653a0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar{
    width:75%;
}

.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.navli {
    float: left;
}
  
.nava {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
.nava:hover {
    background-color: #111111b7;
}

.headerinfo{
    width:25%;
}

