body {
    font-family: Arial, sans-serif;
    background-color: #b9cfed;
    margin: 0;
    padding: 0;
    color: #212529;
    margin-bottom: 40px;
}
#cuerpo {
    margin: 0px auto;
    background-color: #efe9e5;
    width: 90%;
}

/*---------------------------------index.html----------------------------*/
#div_index{
    display: flex;
    justify-content: center;

}
#div_index table tbody tr:nth-child(odd) {
	background: #ffcb00;
}
#div_index table tbody tr:nth-child(even) {
	background: #ff9500;
}
#div_index table thead {
    background: #0017e6;
}
#div_index table {
    width: 90%;
    border-collapse: collapse;
}
#div_index table td th {
    border: solid 2px;
    border-color: #000000;

}