body {
    font-family: Arial, sans-serif;
    background-color: #b9cfed;
    margin: 0;
    padding: 0;
    color: #212529;
    margin-bottom: 40px;
    font-size: 14px;
}
#cuerpo {
    margin: 0px auto;
    background-color: #ffffff;
    width: 90%;
    height: 100%;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*---------------------------------index.html----------------------------*/
#div_index{
    display: flex;
    justify-content: center;
    height: 100%;
}
#div_index table {
    width: 90%;
    border-collapse: collapse ;
    font-size: 20px;
}
#div_index table td {
    border: solid 2px;
    border-color: #000000;
}
#div_index table thead {
    background: #040d53;
    color:#FFFFFF;
    font-weight: bold;
}
#div_index table thead th {
    padding: 10px;
    border: solid 2px;
    border-color: #000000;
}
#div_index table tbody tr:nth-child(odd) {
	background: #ebebeb;
}
#div_index table tbody tr:nth-child(even) {
	background: #c8c8c9;
}
#div_index td {
    padding: 5px;
}