<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>Cuadre Jona</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="navul">
                <li class="navli"><a class="nava" href="#">INICIO</a></li>
                <li class="navli"><a class="nava" href="#">CUADRE</a></li>
            </ul>
        </nav>
        <section class="infoheader">
            
        </section>
    </header>
    
    <div id="cuerpo">