{% include 'header.html' %}
<div id="div_index">
    <table id="tabla_index">
        <thead>
            <tr>
                <th id="titulo1">FECHA</th>
                <th id="titulo2">MONTO</th>
                <th id="titulo3">OK?</th>
                <th id="titulo4">RESTA</th>
                <th id="titulo5">VER</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>dato1</td>
                <td>dato2</td>
                <td>dato3</td>
                <td>dato4</td>
                <td>botonVer</td>
            </tr>
            <tr>
                <td>dato1</td>
                <td>dato2</td>
                <td>dato3</td>
                <td>dato4</td>
                <td>botonVer</td>
            </tr>
            <tr>
                <td>dato1</td>
                <td>dato2</td>
                <td>dato3</td>
                <td>dato4</td>
                <td>botonVer</td>
            </tr>
            <tr>
                <td>dato1</td>
                <td>dato2</td>
                <td>dato3</td>
                <td>dato4</td>
                <td>botonVer</td>
            </tr>
            <tr>
                <td>dato1</td>
                <td>dato2</td>
                <td>dato3</td>
                <td>dato4</td>
                <td>botonVer</td>
            </tr>
        </tbody>
    </table>
</div>

{% include 'footer.html' %}